<div id="find-me-hold">
    <a href="https://github.com/EtherealT" target="_blank">
        <div class="find-me" title="GitHub"><img src="assets/img/github.png" class="find-me-img" /></div>
    </a>

    <a href="http://stackoverflow.com/users/4961714/tobi-adeyinka" target="_blank">
        <div class="find-me" title="Stackoverflow"><img src="assets/img/stack-o.png" class="find-me-img" /></div>
    </a>

    <a href="https://www.linkedin.com/in/oluwatobi-adeyinka" target="_blank">
        <div class="find-me" title="LinkedIn"><img src="assets/img/li.png" class="find-me-img" /></div>
    </a>

    <a href="https://twitter.com/ethereal__t" target="_blank">
        <div class="find-me" title="Twitter"><img src="assets/img/twitter.png" class="find-me-img" /></div>
    </a>

    <a href="https://codepen.io/ethereal__t/" target="_blank">
        <div class="find-me" title="Codepen"><img src="assets/img/codepen.png" class="find-me-img" /></div>
    </a>
</div>
