#index-page-wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

#index-header{
    width: 100%;
    height: 35px;
    padding-top: 20px;
    background-color: #FFF;
}

#index-page-content{
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    margin: auto;
}

#index-content-box{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index-text{
    font-family: 'Lato-Semibold';
    color: #3D3D3D;
    text-align: left;
}

#index-name{
    font-family: 'Lato-Semibold';
}

#index-sub-name-hold{
    display: table;
    margin: auto;
    padding: 0px;
    text-align: left;
    border: 0px;
}

.index-sub-name-unit{
    display: table;
    float: left;
    font-size: 14px;
    padding: 10px 0px 20px 0px;
    margin: 0px 7px 0px 7px;
    text-align: left;
}

.index-sub-name{
    width: 100%;
    margin: auto;
    font-size: 1.3em;
    padding: 0px;
    text-decoration: none;
}

.index-sub-name:hover{
    text-decoration: none;
    color: #3D3D3D;
}

#quote{
    display: block;
    margin: auto;
    font-family: 'Lato-Light';
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

/*Computer only styling*/
@media screen and (min-width: 600px) {

    #index-content-box{
        width: 50%;
        position: absolute;
        left: 50%;
        top: 35%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}
