#index-page-wrapper{
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}

#index-page-content{
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    margin: auto;
}

#index-content-box{
    display: table;
    position: relative;
    top: 30%;
    text-align: center;
    margin: auto;
}

#name{
    display: table;
    margin: auto;
    margin-bottom: 10px;
    font-size: 4em;
    font-family: calibri;
}
