<div class="npnbnm" id="page-wrapper">
    {{page-header pageName=model}}

    <div id="about-me-main">
        <img src="assets/img/me.jpeg" id="me" />
        <span id="about-me-text"><p>I'm a software developer based in Budapest, Hungary. I build web and android applications. I work mostly with Java and <a href="https://laravel.com/" target="_blank">Laravel</a>. I'm available for freelance and partnership projects. Feel free to get in touch!</p></span>
    </div>

    <div id="find-me-hold">
        <a href="https://github.com/tobex9434" target="_blank">
            <div class="find-me" title="GitHub"><img src="assets/img/github.png" class="find-me-img" /></div>
        </a>
        
        <a href="http://stackoverflow.com/users/4961714/tobi-adeyinka" target="_blank">
            <div class="find-me" title="Stackoverflow"><img src="assets/img/stack-o.png" class="find-me-img" /></div>
        </a>

        <a href="https://www.linkedin.com/in/oluwatobi-adeyinka" target="_blank">
            <div class="find-me" title="LinkedIn"><img src="assets/img/li.png" class="find-me-img" /></div>
        </a>

        <a href="https://twitter.com/_tobex9434" target="_blank">
            <div class="find-me" title="Twitter"><img src="assets/img/twitter.png" class="find-me-img" /></div>
        </a>

        <a href="http://codepen.io/tobex9434/" target="_blank">
            <div class="find-me" title="Codepen"><img src="assets/img/codepen.png" class="find-me-img" /></div>
        </a>
    </div>
</div>

