<div class="npnbnm" id="page-wrapper">
    {{page-header pageName=model}}

    <div id="about-me-main">
        <img src="assets/img/me.jpeg" id="me" />
        <span id="about-me-text"><p>I'm a software developer based in Budapest, Hungary. I build web and android applications. I work mostly with Java and <a href="https://laravel.com/" target="_blank">Laravel</a>. I'm available for freelance and partnership projects. Feel free to get in touch!</p></span>
    </div>

    {{find-me}}
</div>

