<div class="npnbnm" id="page-wrapper">
    <div id="index-page-content">
        <div id="index-content-box">
            <span class="index-text" id="index-name">Tobi Adeyinka</span>

            <div id="index-sub-name-hold">
                <div class="index-sub-name-unit">
                    {{#link-to 'about' class="index-text index-sub-name"}}About{{/link-to}}
                </div>

                <div class="index-sub-name-unit">
                    {{#link-to 'projects' class="index-text index-sub-name"}}Projects{{/link-to}}
                </div>

                <div class="index-sub-name-unit">
                    <a href="https://blog.tobiadeyinka.com" class="index-text index-sub-name">Blog</a>
                </div>

                <div class="index-sub-name-unit">
                    {{#link-to 'contact' class="index-text index-sub-name"}}Contact{{/link-to}}
                </div>
            </div>

            <div id="find-me-hold">
                <a href="https://github.com/tobex9434" target="_blank">
                    <div class="find-me" title="GitHub"><img src="assets/img/github.png" class="find-me-img" /></div>
                </a>
		
		<a href="http://stackoverflow.com/users/4961714/tobi-adeyinka" target="_blank">
                    <div class="find-me" title="Stackoverflow"><img src="assets/img/stack-o.png" class="find-me-img" /></div>
                </a>

                <a href="https://www.linkedin.com/in/oluwatobi-adeyinka" target="_blank">
                    <div class="find-me" title="LinkedIn"><img src="assets/img/li.png" class="find-me-img" /></div>
                </a>

                <a href="https://twitter.com/_tobex9434" target="_blank">
                    <div class="find-me" title="Twitter"><img src="assets/img/twitter.png" class="find-me-img" /></div>
                </a>

                <a href="http://codepen.io/tobex9434/" target="_blank">
                    <div class="find-me" title="Codepen"><img src="assets/img/codepen.png" class="find-me-img" /></div>
                </a>
            </div>

        </div>
    </div>
</div>
