<div class="npnbnm" id="page-wrapper">
    <div id="index-page-content">
        <div id="index-content-box">
            <span class="index-text" id="index-name">Tobi Adeyinka</span>

            <div id="index-sub-name-hold">
                <div class="index-sub-name-unit">
                    {{#link-to 'about' class="index-text index-sub-name"}}About{{/link-to}}
                </div>

                <div class="index-sub-name-unit">
                    {{#link-to 'projects' class="index-text index-sub-name"}}Projects{{/link-to}}
                </div>

                <div class="index-sub-name-unit">
                    <a href="https://blog.tobiadeyinka.com" class="index-text index-sub-name">Blog</a>
                </div>

                <div class="index-sub-name-unit">
                    {{#link-to 'contact' class="index-text index-sub-name"}}Contact{{/link-to}}
                </div>
            </div>

            {{find-me}}
        </div>
    </div>
</div>
